@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --default-mono-font-family: var(--font-berkeley-mono), monospace;
  --font-mono: var(--font-berkeley-mono), monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(
    0.9577602415986628 0.005850143859515695 264.51828476711796
  );
  --foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --card: oklch(0.9577602415986628 0.005850143859515695 264.51828476711796);
  --card-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --popover: oklch(0.9577602415986628 0.005850143859515695 264.51828476711796);
  --popover-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --primary: oklch(0.5579584943987945 0.22595938760821024 262.14739407676774);
  --primary-foreground: oklch(
    0.9577602415986628 0.005850143859515695 264.51828476711796
  );
  --secondary: oklch(0.8574086454479589 0.01458743227977123 268.6422561937615);
  --secondary-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --muted: oklch(0.8574086454479589 0.01458743227977123 268.6422561937615);
  --muted-foreground: oklch(
    0.49233896217139234 0.038315197851096224 278.9846808141997
  );
  --accent: oklch(0.8574086454479589 0.01458743227977123 268.6422561937615);
  --accent-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --destructive: oklch(
    0.550536970408996 0.21547622213115014 19.726130131133576
  );
  --border: oklch(0.8083055522038287 0.017463822200916777 271.1704165539255);
  --input: oklch(0.8083055522038287 0.017463822200916777 271.1704165539255);
  --ring: oklch(0.4352360119413346 0.04320017153617836 279.49447975015454);
  --chart-1: oklch(0.550536970408996 0.21547622213115014 19.726130131133576);
  --chart-2: oklch(0.6035457548144032 0.0983690542228078 200.6689641400543);
  --chart-3: oklch(0.5579584943987945 0.22595938760821024 262.14739407676774);
  --chart-4: oklch(0.7143058483532845 0.1493491787080464 67.87465541802469);
  --chart-5: oklch(0.6251985744459316 0.17694286203076667 140.39614951411394);
  --sidebar: oklch(0.9334584120140075 0.008795215060799848 264.5131197569751);
  --sidebar-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --sidebar-primary: oklch(
    0.5579584943987945 0.22595938760821024 262.14739407676774
  );
  --sidebar-primary-foreground: oklch(
    0.9577602415986628 0.005850143859515695 264.51828476711796
  );
  --sidebar-accent: oklch(
    0.8574086454479589 0.01458743227977123 268.6422561937615
  );
  --sidebar-accent-foreground: oklch(
    0.4352360119413346 0.04320017153617836 279.49447975015454
  );
  --sidebar-border: oklch(
    0.8083055522038287 0.017463822200916777 271.1704165539255
  );
  --sidebar-ring: oklch(
    0.8083055522038287 0.017463822200916777 271.1704165539255
  );
}

.dark {
  --background: oklch(
    0.2428650869918172 0.030379684859187538 283.9012839426491
  );
  --foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --card: oklch(0.2428650869918172 0.030379684859187538 283.9012839426491);
  --card-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --popover: oklch(0.2428650869918172 0.030379684859187538 283.9012839426491);
  --popover-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --primary: oklch(0.7670686713786113 0.11111280276070358 259.66622046709404);
  --primary-foreground: oklch(
    0.2428650869918172 0.030379684859187538 283.9012839426491
  );
  --secondary: oklch(
    0.32389634331428835 0.03199879316825827 282.09094423222405
  );
  --secondary-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --muted: oklch(0.32389634331428835 0.03199879316825827 282.09094423222405);
  --muted-foreground: oklch(
    0.8164147133552387 0.04064470672932064 273.2285374843333
  );
  --accent: oklch(0.32389634331428835 0.03199879316825827 282.09094423222405);
  --accent-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --destructive: oklch(
    0.7557381439364167 0.12982828294956064 2.456833738972784
  );
  --border: oklch(0.4039261617980963 0.0318349512910452 279.8879160072396);
  --input: oklch(0.4039261617980963 0.0318349512910452 279.8879160072396);
  --ring: oklch(0.8788556609314853 0.042520540313788255 272.0854694473541);
  --chart-1: oklch(0.7557381439364167 0.12982828294956064 2.456833738972784);
  --chart-2: oklch(0.8584819858317919 0.07922392900266 182.80518625479584);
  --chart-3: oklch(0.7670686713786113 0.11111280276070358 259.66622046709404);
  --chart-4: oklch(0.9184593636955931 0.07002779951198645 85.9954291816362);
  --chart-5: oklch(0.8579979732658809 0.1088971498942169 142.56395518846645);
  --sidebar: oklch(0.2155200627683635 0.025436500408665907 284.05401977857673);
  --sidebar-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --sidebar-primary: oklch(
    0.7670686713786113 0.11111280276070358 259.66622046709404
  );
  --sidebar-primary-foreground: oklch(
    0.2428650869918172 0.030379684859187538 283.9012839426491
  );
  --sidebar-accent: oklch(
    0.32389634331428835 0.03199879316825827 282.09094423222405
  );
  --sidebar-accent-foreground: oklch(
    0.8788556609314853 0.042520540313788255 272.0854694473541
  );
  --sidebar-border: oklch(
    0.4039261617980963 0.0318349512910452 279.8879160072396
  );
  --sidebar-ring: oklch(
    0.4039261617980963 0.0318349512910452 279.8879160072396
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
