@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@config '../../tailwind.config.ts';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --default-mono-font-family: var(--font-berkeley-mono), monospace;
  --font-mono: var(--font-berkeley-mono), monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-ctp-rosewater: var(--ctp-rosewater);
  --color-ctp-flamingo: var(--ctp-flamingo);
  --color-ctp-pink: var(--ctp-pink);
  --color-ctp-mauve: var(--ctp-mauve);
  --color-ctp-red: var(--ctp-red);
  --color-ctp-maroon: var(--ctp-maroon);
  --color-ctp-peach: var(--ctp-peach);
  --color-ctp-yellow: var(--ctp-yellow);
  --color-ctp-green: var(--ctp-green);
  --color-ctp-teal: var(--ctp-teal);
  --color-ctp-sky: var(--ctp-sky);
  --color-ctp-sapphire: var(--ctp-sapphire);
  --color-ctp-blue: var(--ctp-blue);
  --color-ctp-lavender: var(--ctp-lavender);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9577602 0.0058501 264.5182848);
  --foreground: oklch(0.435236 0.0432002 279.4944798);
  --card: oklch(0.9577602 0.0058501 264.5182848);
  --card-foreground: oklch(0.435236 0.0432002 279.4944798);
  --popover: oklch(0.9577602 0.0058501 264.5182848);
  --popover-foreground: oklch(0.435236 0.0432002 279.4944798);
  --primary: oklch(0.5579585 0.2259594 262.1473941);
  --primary-foreground: oklch(0.9577602 0.0058501 264.5182848);
  --secondary: oklch(0.8574086 0.0145874 268.6422562);
  --secondary-foreground: oklch(0.435236 0.0432002 279.4944798);
  --muted: oklch(0.8574086 0.0145874 268.6422562);
  --muted-foreground: oklch(0.492339 0.0383152 278.9846808);
  --accent: oklch(0.8574086 0.0145874 268.6422562);
  --accent-foreground: oklch(0.435236 0.0432002 279.4944798);
  --destructive: oklch(0.550537 0.2154762 19.7261301);
  --border: oklch(0.8083056 0.0174638 271.1704166);
  --input: oklch(0.8083056 0.0174638 271.1704166);
  --ring: oklch(0.435236 0.0432002 279.4944798);
  --chart-1: oklch(0.550537 0.2154762 19.7261301);
  --chart-2: oklch(0.6035458 0.0983691 200.6689641);
  --chart-3: oklch(0.5579585 0.2259594 262.1473941);
  --chart-4: oklch(0.7143058 0.1493492 67.8746554);
  --chart-5: oklch(0.6251986 0.1769429 140.3961495);
  --sidebar: oklch(0.9334584 0.0087952 264.5131198);
  --sidebar-foreground: oklch(0.435236 0.0432002 279.4944798);
  --sidebar-primary: oklch(0.5579585 0.2259594 262.1473941);
  --sidebar-primary-foreground: oklch(0.9577602 0.0058501 264.5182848);
  --sidebar-accent: oklch(0.8574086 0.0145874 268.6422562);
  --sidebar-accent-foreground: oklch(0.435236 0.0432002 279.4944798);
  --sidebar-border: oklch(0.8083056 0.0174638 271.1704166);
  --sidebar-ring: oklch(0.8083056 0.0174638 271.1704166);

  --ctp-rosewater: oklch(0.7174236 0.1033271 33.3332498);
  --ctp-flamingo: oklch(0.6867467 0.1258371 20.8365401);
  --ctp-pink: oklch(0.7254225 0.173209 338.3710808);
  --ctp-mauve: oklch(0.554214 0.2504576 296.9546261);
  --ctp-red: oklch(0.5500124 0.2154634 19.7958981);
  --ctp-maroon: oklch(0.6272723 0.1946378 20.2565528);
  --ctp-peach: oklch(0.6920242 0.2035334 42.5132861);
  --ctp-yellow: oklch(0.7099271 0.1483947 67.88552);
  --ctp-green: oklch(0.6283336 0.1784076 140.405744);
  --ctp-teal: oklch(0.6100919 0.0995179 200.6768942);
  --ctp-sky: oklch(0.686808 0.1458743 235.3393862);
  --ctp-sapphire: oklch(0.6496363 0.107288 213.2325189);
  --ctp-blue: oklch(0.558551 0.2245882 262.1411873);
  --ctp-lavender: oklch(0.6641005 0.1747475 273.2126635);
}

.dark {
  --background: oklch(0.2428651 0.0303797 283.9012839);
  --foreground: oklch(0.8788557 0.0425205 272.0854694);
  --card: oklch(0.2428651 0.0303797 283.9012839);
  --card-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --popover: oklch(0.2428651 0.0303797 283.9012839);
  --popover-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --primary: oklch(0.7670687 0.1111128 259.6662205);
  --primary-foreground: oklch(0.2428651 0.0303797 283.9012839);
  --secondary: oklch(0.3238963 0.0319988 282.0909442);
  --secondary-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --muted: oklch(0.3238963 0.0319988 282.0909442);
  --muted-foreground: oklch(0.8164147 0.0406447 273.2285375);
  --accent: oklch(0.3238963 0.0319988 282.0909442);
  --accent-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --destructive: oklch(0.7557381 0.1298283 2.4568337);
  --border: oklch(0.4039262 0.031835 279.887916);
  --input: oklch(0.4039262 0.031835 279.887916);
  --ring: oklch(0.8788557 0.0425205 272.0854694);
  --chart-1: oklch(0.7557381 0.1298283 2.4568337);
  --chart-2: oklch(0.858482 0.0792239 182.8051863);
  --chart-3: oklch(0.7670687 0.1111128 259.6662205);
  --chart-4: oklch(0.9184594 0.0700278 85.9954292);
  --chart-5: oklch(0.857998 0.1088971 142.5639552);
  --sidebar: oklch(0.2155201 0.0254365 284.0540198);
  --sidebar-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --sidebar-primary: oklch(0.7670687 0.1111128 259.6662205);
  --sidebar-primary-foreground: oklch(0.2428651 0.0303797 283.9012839);
  --sidebar-accent: oklch(0.3238963 0.0319988 282.0909442);
  --sidebar-accent-foreground: oklch(0.8788557 0.0425205 272.0854694);
  --sidebar-border: oklch(0.4039262 0.031835 279.887916);
  --sidebar-ring: oklch(0.4039262 0.031835 279.887916);

  --ctp-rosewater: oklch(0.9212794 0.0243471 30.9677613);
  --ctp-flamingo: oklch(0.883059 0.0407041 17.8550883);
  --ctp-pink: oklch(0.8694126 0.0761394 335.9349155);
  --ctp-mauve: oklch(0.7865191 0.1191432 304.4279314);
  --ctp-red: oklch(0.7566725 0.1288966 2.4136272);
  --ctp-maroon: oklch(0.77812 0.0920653 8.4503315);
  --ctp-peach: oklch(0.8205616 0.1034591 52.6328422);
  --ctp-yellow: oklch(0.9177893 0.0705412 85.9914778);
  --ctp-green: oklch(0.8574621 0.1090626 142.5625777);
  --ctp-teal: oklch(0.8563647 0.0796734 182.7781965);
  --ctp-sky: oklch(0.8476582 0.0833467 209.9687394);
  --ctp-sapphire: oklch(0.7883167 0.0968468 229.6590649);
  --ctp-blue: oklch(0.768125 0.1106966 259.6684387);
  --ctp-lavender: oklch(0.8153704 0.0914778 277.39179);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
