/** biome-ignore-all lint/correctness/noUnknownTypeSelector: <explanation> */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@config "../../tailwind.config.ts";

@theme {
  --animate-cursor-pulse: cursor-pulse 1.5s infinite;

  @keyframes cursor-pulse {
    0% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-mono: var(--font-mono);
  --default-mono-font-family: var(--font-mono);
  --default-font-family: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-ctp-rosewater: var(--ctp-rosewater);
  --color-ctp-flamingo: var(--ctp-flamingo);
  --color-ctp-pink: var(--ctp-pink);
  --color-ctp-mauve: var(--ctp-mauve);
  --color-ctp-red: var(--ctp-red);
  --color-ctp-maroon: var(--ctp-maroon);
  --color-ctp-peach: var(--ctp-peach);
  --color-ctp-yellow: var(--ctp-yellow);
  --color-ctp-green: var(--ctp-green);
  --color-ctp-teal: var(--ctp-teal);
  --color-ctp-sky: var(--ctp-sky);
  --color-ctp-sapphire: var(--ctp-sapphire);
  --color-ctp-blue: var(--ctp-blue);
  --color-ctp-lavender: var(--ctp-lavender);
  --color-ctp-bg: var(--ctp-bg);
  --color-ctp-fg: var(--ctp-fg);
}

:root {
  --background: oklch(0.967 0.003 264.542);
  --foreground: oklch(0.208 0.042 265.755);
  --card: oklch(0.984 0.003 247.858);
  --card-foreground: oklch(0.208 0.042 265.755);
  --popover: oklch(0.984 0.003 247.858);
  --popover-foreground: oklch(0.208 0.042 265.755);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.929 0.013 255.508);
  --secondary-foreground: oklch(0.446 0.043 257.281);
  --muted: oklch(0.929 0.013 255.508);
  --muted-foreground: oklch(0.446 0.043 257.281);
  --accent: oklch(0.869 0.022 252.894);
  --accent-foreground: oklch(0.446 0.043 257.281);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.813 0.028 255.1);
  --input: oklch(0.704 0.04 256.788);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.795 0.184 86.047);
  --chart-2: oklch(0.645 0.246 16.439);
  --chart-3: oklch(0.707 0.165 254.624);
  --chart-4: oklch(0.432 0.095 166.913);
  --chart-5: oklch(0.546 0.245 262.881);
  --sidebar: oklch(0.929 0.013 255.508);
  --sidebar-foreground: oklch(0.208 0.042 265.755);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.869 0.022 252.894);
  --sidebar-accent-foreground: oklch(0.446 0.043 257.281);
  --sidebar-border: oklch(0.813 0.028 255.1);
  --sidebar-ring: oklch(0.702 0.183 293.541);

  --font-mono: var(--font-berkeley-mono), monospace;

  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.16;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --ctp-rosewater: oklch(0.7174236 0.1033271 33.3332498);
  --ctp-flamingo: oklch(0.6867467 0.1258371 20.8365401);
  --ctp-pink: oklch(0.7254225 0.173209 338.3710808);
  --ctp-mauve: oklch(0.554214 0.2504576 296.9546261);
  --ctp-red: oklch(0.5500124 0.2154634 19.7958981);
  --ctp-maroon: oklch(0.6272723 0.1946378 20.2565528);
  --ctp-peach: oklch(0.6920242 0.2035334 42.5132861);
  --ctp-yellow: oklch(0.7099271 0.1483947 67.88552);
  --ctp-green: oklch(0.6283336 0.1784076 140.405744);
  --ctp-teal: oklch(0.6100919 0.0995179 200.6768942);
  --ctp-sky: oklch(0.686808 0.1458743 235.3393862);
  --ctp-sapphire: oklch(0.6496363 0.107288 213.2325189);
  --ctp-blue: oklch(0.558551 0.2245882 262.1411873);
  --ctp-lavender: oklch(0.6641005 0.1747475 273.2126635);
  --ctp-bg: oklch(0.9577602 0.0058501 264.5182848);
  --ctp-fg: oklch(43.5% 0.043 279.3);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.2084 0.0417 266.3592);
  --card-foreground: oklch(0.9683 0.0069 247.8956);
  --popover: oklch(0.2084 0.0417 266.3592);
  --popover-foreground: oklch(0.9683 0.0069 247.8956);
  --primary: oklch(0.5405 0.2811 292.8523);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.4454 0.043 257.421);
  --secondary-foreground: oklch(0.9683 0.0069 247.8956);
  --muted: oklch(0.2084 0.0417 266.3592);
  --muted-foreground: oklch(0.7038 0.0402 256.9929);
  --accent: oklch(0.2799 0.0408 260.3294);
  --accent-foreground: oklch(0.952 0.036 318.8519);
  --destructive: oklch(0.5968 0.2396 19.6949);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3113 0.0441 259.2131);
  --input: oklch(0.5542 0.046 257.5261);
  --ring: oklch(0.6006 0.2425 293.8885);
  --chart-1: oklch(0.6006 0.2425 293.8885);
  --chart-2: oklch(0.9258 0.0845 155.8579);
  --chart-3: oklch(0.8781 0.1688 91.8567);
  --chart-4: oklch(0.7833 0.11 274.4737);
  --chart-5: oklch(0.7965 0.1395 213.2261);
  --sidebar: oklch(0.184 0.042 269.3764);
  --sidebar-foreground: oklch(0.9683 0.0069 247.8956);
  --sidebar-primary: oklch(0.5405 0.2811 292.8523);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2799 0.0408 260.3294);
  --sidebar-accent-foreground: oklch(0.952 0.036 318.8519);
  --sidebar-border: oklch(0.3113 0.0441 259.2131);
  --sidebar-ring: oklch(0.6006 0.2425 293.8885);

  --font-mono: var(--font-berkeley-mono), monospace;

  --radius: 0.625rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.16;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 0% / 0.16), 0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);

  --ctp-rosewater: oklch(0.9212794 0.0243471 30.9677613);
  --ctp-flamingo: oklch(0.883059 0.0407041 17.8550883);
  --ctp-pink: oklch(0.8694126 0.0761394 335.9349155);
  --ctp-mauve: oklch(0.7865191 0.1191432 304.4279314);
  --ctp-red: oklch(0.7566725 0.1288966 2.4136272);
  --ctp-maroon: oklch(0.77812 0.0920653 8.4503315);
  --ctp-peach: oklch(0.8205616 0.1034591 52.6328422);
  --ctp-yellow: oklch(0.9177893 0.0705412 85.9914778);
  --ctp-green: oklch(0.8574621 0.1090626 142.5625777);
  --ctp-teal: oklch(0.8563647 0.0796734 182.7781965);
  --ctp-sky: oklch(0.8476582 0.0833467 209.9687394);
  --ctp-sapphire: oklch(0.7883167 0.0968468 229.6590649);
  --ctp-blue: oklch(0.768125 0.1106966 259.6684387);
  --ctp-lavender: oklch(0.8153704 0.0914778 277.39179);
  --ctp-bg: oklch(0.2428651 0.0303797 283.9012839);
  --ctp-fg: oklch(87.9% 0.043 272.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body {
    @apply text-foreground h-[100dvh];
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  :root {
    --cx: 75%;
    --cy: 5%;
    view-transition-name: root;
  }

  ::view-transition-new(root) {
    animation: reveal-circle 800ms ease-in-out both;
  }

  ::view-transition-old(root) {
    animation: none;
    clip-path: none;
  }

  @keyframes reveal-circle {
    from {
      clip-path: circle(0 at var(--cx) var(--cy));
    }
    to {
      clip-path: circle(150vmax at var(--cx) var(--cy));
    }
  }

  /* Prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation: none;
      clip-path: none;
      mask: none;
    }
  }

  html {
    &::after {
      @apply fixed top-0 left-0 h-[100dvh] w-[100dvw] content-[''] z-[-1] bg-background/90;
    }
    &::before {
      filter: brightness(180%) saturate(90%);
      @apply fixed top-0 left-0 h-[100dvh] w-[100dvw] content-[''] z-[-2];
      background:
        radial-gradient(49% 81% at 45% 47%, #ffceea45 0%, #073aff00 100%),
        radial-gradient(113% 91% at 17% -2%, #ff2525c4 1%, #bc00ff4d 99%),
        radial-gradient(142% 91% at 5% 14%, #ff37a4ff 1%, #ff000000 100%),
        radial-gradient(142% 91% at -6% 74%, #ff0049ff 1%, #ff000000 99%),
        radial-gradient(142% 91% at 111% 84%, #ff3e00ff 0%, #b400ffff 100%);
    }

    &.dark {
      &::after {
        @apply bg-background/90 mix-blend-hard-light;
      }
      &::before {
        filter: none;
      }
    }
  }
}
