@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(95.78% 0.002 264.5);
  --foreground: oklch(43.52% 0.017 279.5);
  --card: oklch(95.78% 0.002 264.5);
  --card-foreground: oklch(43.52% 0.017 279.5);
  --popover: oklch(95.78% 0.002 264.5);
  --popover-foreground: oklch(43.52% 0.017 279.5);
  --primary: oklch(55.45% 0.1 297);
  --primary-foreground: oklch(95.78% 0.002 264.5);
  --secondary: oklch(85.74% 0.006 268.7);
  --secondary-foreground: oklch(43.52% 0.017 279.5);
  --muted: oklch(85.74% 0.006 268.7);
  --muted-foreground: oklch(49.23% 0.015 279);
  --accent: oklch(85.74% 0.006 268.7);
  --accent-foreground: oklch(43.52% 0.017 279.5);
  --destructive: oklch(55.05% 0.086 19.7);
  --border: oklch(80.83% 0.007 271.2);
  --input: oklch(80.83% 0.007 271.2);
  --ring: oklch(43.52% 0.017 279.5);
  --chart-1: oklch(55.05% 0.086 19.7);
  --chart-2: oklch(60.36% 0.039 200.6);
  --chart-3: oklch(55.8% 0.09 262.1);
  --chart-4: oklch(71.43% 0.06 67.9);
  --chart-5: oklch(62.52% 0.071 140.4);
  --sidebar: oklch(93.35% 0.003 264.5);
  --sidebar-foreground: oklch(43.52% 0.017 279.5);
  --sidebar-primary: oklch(55.45% 0.1 297);
  --sidebar-primary-foreground: oklch(95.78% 0.002 264.5);
  --sidebar-accent: oklch(85.74% 0.006 268.7);
  --sidebar-accent-foreground: oklch(43.52% 0.017 279.5);
  --sidebar-border: oklch(80.83% 0.007 271.2);
  --sidebar-ring: oklch(80.83% 0.007 271.2);
}

.dark {
  --background: oklch(24.29% 0.012 283.9);
  --foreground: oklch(87.89% 0.017 272.1);
  --card: oklch(24.29% 0.012 283.9);
  --card-foreground: oklch(87.89% 0.017 272.1);
  --popover: oklch(24.29% 0.012 283.9);
  --popover-foreground: oklch(87.89% 0.017 272.1);
  --primary: oklch(78.67% 0.047 304.5);
  --primary-foreground: oklch(24.29% 0.012 283.9);
  --secondary: oklch(32.39% 0.013 282.1);
  --secondary-foreground: oklch(87.89% 0.017 272.1);
  --muted: oklch(32.39% 0.013 282.1);
  --muted-foreground: oklch(81.64% 0.016 273.2);
  --accent: oklch(32.39% 0.013 282.1);
  --accent-foreground: oklch(87.89% 0.017 272.1);
  --destructive: oklch(75.57% 0.052 2.5);
  --border: oklch(40.39% 0.013 279.9);
  --input: oklch(40.39% 0.013 279.9);
  --ring: oklch(87.89% 0.017 272.1);
  --chart-1: oklch(75.57% 0.052 2.5);
  --chart-2: oklch(85.85% 0.032 182.7);
  --chart-3: oklch(76.71% 0.044 259.7);
  --chart-4: oklch(91.85% 0.028 86);
  --chart-5: oklch(85.8% 0.044 142.5);
  --sidebar: oklch(21.55% 0.01 284.1);
  --sidebar-foreground: oklch(87.89% 0.017 272.1);
  --sidebar-primary: oklch(78.67% 0.047 304.5);
  --sidebar-primary-foreground: oklch(24.29% 0.012 283.9);
  --sidebar-accent: oklch(32.39% 0.013 282.1);
  --sidebar-accent-foreground: oklch(87.89% 0.017 272.1);
  --sidebar-border: oklch(40.39% 0.013 279.9);
  --sidebar-ring: oklch(40.39% 0.013 279.9);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
